<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db_connection_str"
       connectionString="Data Source=.; Initial Catalog=ThreeDSurveyor;User ID=developer;Password=developer"/>
  </connectionStrings>

  <appSettings>
    <add key="SQLite_db_file" value="./DB/db_socketbuilder.db"/>
    <add key="SQLite_connection_str" value="Data Source = ./DB/db_socketbuilder.db; Version = 3; BinaryGUID=False;"/>
  </appSettings>

</configuration>